<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
    {% with message = get_flashed_messages()%} {%if message%}
    <h1>Home Page</h1>
    <h3>Welcome {{message}} </h3>
    {%endif%} {%endwith%}
    <a class="btn btn-primary" href="/Logout">Logout</a>
</body>

</html>